<% layout('layouts/boilerplate') %>
<h1>Edit CCA Information</h1>
<form action="/cca/<%= cca._id %>?_method=PUT" method="POST">
    <div>
        <label for="title">CCA Title:</label>
        <input type="text" name="cca[title]" id="title" required value="<%= cca.title %>">
    </div>
    <div>
        <label for="description">Short Description:</label>
        <textarea name="cca[description]" id="description" cols="30" rows="5"><%= cca.description%> </textarea>
    </div>
    <h2>Contact Information</h2>
    <div>
        <label for="phone">Phone Number:</label>
        <input type="text" name="cca[phone]" id="phone" required value="<%= cca.phone %>">
    </div>
    <div>
        <label for="email">E-mail:</label>
        <input type="email" name="cca[email]" id="email" required value="<%= cca.email %>">
    </div>
    <div>
        <label for="officer">Person-in-Charge:</label>
        <input type="text" name="cca[officer]" id="officer" required value="<%= cca.officer %>">
    </div>
    <button>Update</button>
</form>
<a href="/cca">Back to CCA List</a>