<% layout('layouts/boilerplate') %>
<h1><%= cca.title %></h1>
<p><%= cca.description %></p>
<h2>Contact Information</h2>
<ul>
    <li>Person-in-Charge: <%= cca.officer.username %></li>
    <li>Phone: <%= cca.phone %></li>
    <li>Email: <%= cca.email %></li>
</ul>
<a href="/cca/<%= cca._id %>/events/new" class="btn btn-info">Add Event</a>
<a href="/cca" class="btn btn-warning">Back to Index</a>
<a href="/cca/<%= cca._id %>/edit" class="btn btn-success">Edit Details</a>

<h2 class="mt-3">Events</h2>
<% for (let event of cca.events) { %>
    <div class="card bg-transparent border-bottom mb-3">
        <div class="card-body">
            <h5 class="card-title"><%= event.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">From <%= event.start %> to <%= event.end %></h6>
            <p class="card-text"><%= event.description %></p>
            <a href="/cca/<%= cca._id %>/events/<%= event._id %>" class="card-link btn btn-sm btn-primary">View More</a>
        </div>
    </div>
<% } %> 

<form action="/cca/<%= cca._id %>?_method=DELETE" method="POST" class="mb-5">
    <button class="btn btn-danger">Delete CCA</button>
    <a href="/cca" class="btn btn-info">Back to Index</a>
    <a href="/cca/<%= cca._id %>/edit" class="btn btn-success">Edit Details</a>
    <% if (currentUser && !cca.interested.map(x => x._id).includes(currentUser._id) && !currentUser._id.equals(cca.officer._id)) { %>
    <a href="/cca/<%= cca._id %>/register" class="btn btn-primary">Register Interest</a>
    <% } %>
</form>
<% if (currentUser && currentUser._id.equals(cca.officer._id)) { %>
<h2>Interested Students</h2>
<% for (let student of cca.interested) { %>
<div class="card mb-3" style="max-width: 18rem">
    <div class="card-body">
        <h5 class="card-title"><%= student.username %></h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Email: <%= student.email %></li>
        <li class="list-group-item">Contact: <%= student.phone %></li>
        <li class="list-group-item">Faculty: <%= student.faculty %></li>
        <li class="list-group-item">Course of Study: <%= student.course %></li>
        <li class="list-group-item">Course of Study: <%= student._id %></li>
    </ul>
    <div class="card-body">
        <a href="/cca/<%= cca._id %>/accept/<%= student._id %>" class="card-link">Accept Student</a>
    </div>
</div>
<% } %>
<% } %>
