<% layout('layouts/boilerplate') %>
<h1><%= event.title %></h1>
<p><%= event.cca.title %></p>
<img src="<%= event.image.thumbnail %> " alt="">
<p><%= event.description %></p>
<h2>Date</h2>
<p>From <%= event.start %> to <%= event.end %> </p>

<a href="/cca/<%= event.cca._id %>" class="btn btn-warning">Back to CCA</a>

<% if (currentUser && !event.attending.includes(currentUser._id)) { %> 
<form action="/cca/<%= event.cca._id %>/events/<%= event._id %>" method="POST" class="my-3">
    <button class="btn btn-success">Attend</button>
</form>
<% } %> 

<% if (currentUser && event.cca.officer.includes(currentUser._id)) { %>
<a href="/cca/<%= event.cca._id %>/events/<%= event._id %>/edit" class="btn btn-info">Edit Event</a>
<form action="/cca/<%= event.cca._id %>/events/<%= event._id %>?_method=DELETE" method="POST" class="mt-3">
    <button class="btn btn-sm btn-danger">Delete Event</button>
</form>
<% } %> 